body {
  background-color: #912119;
}

img {
  height: 30%;
  width: 30%;
}

#mainBox {
  float:left;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px
}

#playlistBox {
  float: right;
  height:100vh;
  width:300px;
  border-style: solid;
  border-width: 2px;
}

#player{
	float: left;
}

.playlistElement {
	float: left;
	border-style: solid;
	border-width: 1px;
}